         @font-face {
            font-family: "canada-type-gibson";
            src: url("https://use.typekit.net/af/b01614/00000000000000007735e603/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),
                 url("https://use.typekit.net/af/b01614/00000000000000007735e603/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),
                 url("https://use.typekit.net/af/b01614/00000000000000007735e603/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
            font-display: auto;
            font-style: normal;
            font-weight: 300;
            font-stretch: normal;
        }
        body {
            font-family:'canada-type-gibson', sans-serif;
        }
        